<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salgosipo.amenity.mapper.AmenityMapper">
    <insert id="insertAmenity" parameterType="com.salgosipo.amenity.dto.AmenityResponseDTO">
        INSERT INTO property_amenities (property_id,
                                        amenity_type,
                                        amenity_name,
                                        amenity_latitude,
                                        amenity_longitude,
                                        distance_meters,
                                        walk_time_minutes)
        VALUES (#{propertyId},
                #{amenityType},
                #{amenityName},
                #{amenityLatitude},
                #{amenityLongitude},
                #{distanceMeters},
                #{walkTimeMinutes})
    </insert>

    <select id="getAmenitiesByFilter" resultType="com.salgosipo.amenity.dto.AmenityResponseDTO">
        SELECT property_id,
               amenity_type,
               amenity_name,
               amenity_latitude,
               amenity_longitude,
               distance_meters,
               walk_time_minutes
        FROM property_amenities
        WHERE property_id = #{propertyId}
    </select>
</mapper>
