<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salgosipo.safety.mapper.SafetyMapper">

    <!-- TODO: 안전 점수 조회 SQL 작성 -->

    <!-- TODO: 안전 점수 저장 SQL 작성 -->

    <!-- TODO: 안전 점수 수정 SQL 작성 -->

</mapper>