<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salgosipo.user.mapper.UserMapper">
    <insert id="signup">
        insert into users (login_id, password, name, birth_date, gender, email)
        values (#{loginId}, #{password}, #{name}, #{birthDate}, #{gender}, #{email})
    </insert>

    <select id="findByLoginId" resultType="com.salgosipo.user.domain.UserVO">
        SELECT user_id, login_id, password, name, birth_date, gender, email, del_yn
        FROM users
        WHERE login_id = #{loginId}
          AND del_yn = 'N'
    </select>

    <select id="countByLoginId" resultType="java.lang.Integer">
        select count(*) from users where login_id = #{loginId} and del_yn='N'
    </select>

    <select id="countByEmail" resultType="java.lang.Integer">
        select count(*) from users where email = #{email} and del_yn = 'N'
    </select>
</mapper>