<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salgosipo.destination.mapper.DestinationMapper">
    <insert id="insertDestination"
            parameterType="com.salgosipo.destination.domain.DestinationVO">
        INSERT INTO destinations (
            dest_latitude,
            dest_longitude,
            dest_name,
            dest_address
        ) VALUES (
            #{destLatitude},
            #{destLongitude},
            #{destName},
            #{destAddress}
        )
        ON DUPLICATE KEY UPDATE
            destination_id = LAST_INSERT_ID(destination_id),
            dest_name = VALUES(dest_name),
            dest_address = VALUES(dest_address)

        <selectKey keyProperty="destinationId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>
